In [1]:
import pandas as pd

prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"]
})

prices

  price_usd
0     $0.53
1     $0.22
2      0.34

In [2]:
prices.dtypes

price_usd    object
dtype: object

In [8]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")

/var/folders/3n/wpmwngmn2g1br5pvc5hpskj80000gn/T/ipykernel_78124/1946218128.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")

In [6]:
prices

  price_usd
0      0.53
1      0.22
2      0.34

In [7]:
prices.dtypes

price_usd    object
dtype: object

In [9]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].astype("float")
prices.dtypes

price_usd    float64
dtype: object

In [10]:
prices

   price_usd
0       0.53
1       0.22
2       0.34